<h3>Help</h3>
<div>
    <p>
        This Angular tutorial was brought to you by the <a href="http://sent.ly">Sent.ly</a> and <a href="http://plus.sent.ly">Sent.ly Plus</a> team.
    </p>
    <p>
        We are thankful to Red Gate software for providing us mentoring in Cambridge and giving us this opportunity to share this with you!
    </p>
    <p>
        To get this tutorial fully functional, please sign up for an account at:<br />
        <a href="http://plus.sent.ly">http://plus.sent.ly</a>
    </p>
    <p>
        After signing up, please add your phone number. Then, go to the "My Identities" page by clicking "My Identities"
    </p>
    <img src="../../Content/API-Keys.png" style="width:100%;" />
    <p>
        Please change the <code>SentlyPlusConsumerKey</code>, <code>SentlyPlusConsumerSecret</code> and <code>SentlyPlusSenderId</code>values in the <code>web.config</code> file of this app to enable actual SMS sending
    </p>
    <p>
        For detailed documentation of our APIs, please visit:<br />
        <a href="http://docs.sentlyplus.apiary.io/">Sent.ly Plus API Documentation</a><br />
        <a href="http://wiki.sent.ly">Sent.ly Documentation</a>
    </p>
</div>